.box_principal{
    width: 800px;
    height: 1200px;
    border: 3px solid red;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.box_titulo{
    width: 800px;
    height: 150px;
    border: 3px solid red;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(60, 47, 231);
    color: #ffff;
}

/* .box_titulo.h1{
    color: green;
} */

/* .h1_titulo{

} */

h2{
    /* margin-top: -20px; */
    font-size: 15pt;
}


/* .h3_sub_titulo{

} */

a{
    text-decoration: none;
    font-size: 14px;
}
h4{
    margin-top: -10px;
}

        .h2_title_xp{
            margin-top: -20px;
        }

        .h2_title_formacao{
            margin-top: -20px;
        }

        .h2_title_cursos{
            margin-top: -20px;
        }

        .h2_title_certificados{
            margin-top: -20px;
        }

hr{
    margin-top: -10px;
    color: lightgray;
}

.table1{
    border: 3px solid rgb(17, 0, 255);
    width: 530px;
    height: 1050px;

}

/* 
td{
    padding: 10px;
} */

.resumo{
    border: 3px solid red;
    height: 70px;
}

.experiencia{
    border: 3px solid red;
    height: 20px;
}


.formacao{
    border: 3px solid red;
    height: 200px;
}

.cursos{
    border: 3px solid red;
    height: 150px;
}

.certificados{
    border: 3px solid red;
    height: 150px;
}


.box_table2{
    width: 270px;
    height: 1040px;
    border: 3px solid red;
    margin: auto;
    margin-left: 530px;
    margin-top: -1050px;
    background-color: lightgrey;
}

.table2{
    border: 3px solid rgb(17, 0, 255);
    width: 270px;
    height: 1040px;

}

.informacoes{
    border: 3px solid red;
    height: 380px;
    margin-top: -40px;
}

.skills{
    border: 3px solid red;
    height: 240px;
    margin-top: -40px;
}

.idiomas{
    border: 3px solid red;
    height: 140px;
    margin-top: -40px;
}