@charset "ISO-8859-1";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px;
    font-size: 1rem;
}

body{
    background-color:rgb(228, 229, 238);
}

.container{
    flex-direction:row;
    border:2px solid rgb(214, 221, 129, 1);
    margin-top: 1%;
    padding-top: 4%;
}

#form{
	border: 2px solid red;	
}

#form .col-md-4{
	border: 2px solid red;
	height: 4%;
	margin-top: 6px;	
	
}

#form label{
	border: 2px solid red;	
	font-weight: bold;
	color: #fff;
}

.btn{
    color: aliceblue;
    font-weight: 500;
}

.h1{
	display: flex;
	align-items: center;
	border: 2px solid red;
	height: 58px;
	position: absolute;
	margin-right: 1039px;
	margin-top: -63px;
	color: #27adee;
}


