@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*GLOBAL*/

body{
    font-family: 'Lato', sans-serif;
    background-image: url("../img/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
     
}

main{

    display: flex;
    justify-content: center;
    margin-top: 1%;
     
}

 

.main-default{
    justify-content: center;
   	align-items: inherit;
   	 
}
 

#navbar{
	background-color: #ff4200;
 	
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff;

}
/*HOME*/
.box-acesso{
	width: 40%;
	
    align-items: center;
    padding: 15px;
    text-align: center;
	
	background-color: rgb(248 248 248 / 17%);
    border: radius;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 2px #555151;

}


/*PRODUTOS*/
.box-produtos{
    border-radius: 3px;
    width: 90%;
    align-items: center;
    box-shadow: 1px 1px 2px 1px #555151;
    padding: 22px;
    margin-top: 52px;
    background-color: rgb(248 248 248 / 17%);
    color:#fff;
            
}

	.box-acesso .btn:hover{
		background-color: green;
        color: #fff;
        font-weight: 800;
	}
	
	.box-acesso img{
		margin-left:95%;
	}



 

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    margin-left: 4.5%;
}


/*CADASTRO*/

#table{
    margin-top: 2%;
    background-color: #eeeeee8c;
    border-radius: 7px;
    font-weight: bolder;
    padding: 10px;
    
}

#table .button-cadastro{
	width: 15%;
	padding: 10px;
	margin-left: 13px;
    margin-top: 17px;
    border: 2px solid #fdfdfdb0;
    border-radius: 7px;
    background-color: #1e9715de;
    
        
    font-weight: bold;
    
}
.form-control{
	    border: 2px solid rgb(255, 247, 247);
	
}

