
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: rgb(255, 255, 255);

}

html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    /* background-color: rgb(36 35 35 / 91%); */
    filter: drop-shadow(2px 4px 6px black);
    padding: 1.5%;
}

section{
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
    max-width: 960px;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;

    background-color: blueviolet;
}

.div-box{
    border: 2px solid rgb(248, 245, 245);
    margin: auto;
    max-width: 960px;
    display: flex;
    justify-content: center;
    padding: 14px;
    margin-top: 3px;
}

.div-content{
    border: 6px solid rgb(240, 240, 240);
    max-width: 960px;
    justify-content: center;

    display: flex;
    margin: auto;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    /* background-color: gray; */
}

.col-md-6{
    border: 2px solid rgb(238, 238, 241);
    height: 70px;
    width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.col-md-3{
    border: 2px solid rgb(208, 208, 214);
    height: 90px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 200px;
    background-color: aliceblue;
    box-shadow: inset 0px -4px 13px 0px #3b3838;
    font-size: 20px;
    font-weight: 800;
    color: blue;
}

input{
    width: 200px;
    height: 100%;
    padding-left: 35%;
    font-size: 17pt;
    font-weight: 900;
}

button{
    height: 100%;
    width: 100px;
    font-size: 14pt;
    font-weight: 900;
    color:blueviolet;
    border: 6px solid rgb(240, 240, 240);

}

button:hover{
    background-color: rgb(250, 118, 10);
    color: aliceblue;
}

h2{
    display: block;
    font-weight: bolder;

}

.div-content{
    background-color: #aaa5a5;
    padding: 14px;
    color: aliceblue;
    margin-top: 20px;
}
