
/* Global */
/* Fonte:  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{   
    margin: 0 auto;
}

.img-logo{
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

/* Header - NavBar */
#main-header{
    border: 2px solid rgb(0, 68, 255);
    width: 100%;
    height: 180px;
}

.navbar{
    /* border: 2px solid rgb(72, 255, 0); */
    /* background-color: #dacb8d   ; */
    height: 150px;
}

.navbar-expand-lg{
    border: 2px solid red;

}

.nav-item-left{
    border: 2px solid red;
    margin-left: 20px;
}

.nav-item-right{
    border: 2px solid red;
    margin-left: 20px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    /* margin-right: rem; */
    font-size: 1.25rem;
    line-height: inherit;
    /* white-space: nowrap; */
    margin: 0;
    padding: 0;
    margin-left: -40px;
}
.navbar-prenav {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 50px;
    flex-direction: column;
    border: 2px blue solid;
}

.box-nav{
    
        width: 2000px;
        /* padding-right: 15px; */
        /* padding-left: 15px; */
        margin-right: auto;
        margin-left: auto;
        border: 2px solid green;
    
}

.navbar-nav-left{
    border: 2px solid rgb(47, 0, 255);
    margin-left: 400px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: row
    }

.navbar-nav-right{
    border: 2px solid rgb(47, 0, 255);
    margin-left: 50px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: row
    }

    .navbar-nav-sup{
        border: 2px solid rgb(47, 0, 255);
        margin-left: 50px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            flex-direction: row
        }
    
    .nav-link-box1{
        margin-left: 800px;
        width: 60px;
    }