/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Raleway;
    margin:0 auto;
}

body{
    background-color: #fff;
}

.img-logo{
    width: 150px;
    height: 150px;
    margin-left: 210px;
}

.img-section{
    width: 1069px;
    height: 500px;
}
.img-banner{
    width: 500px;
    height: 430px;
    margin-left: -12px;
}

.img-row-1{
    width: 240px;
    height: 340px;
    margin-left: -15px;
}


.navbar-nav h2{
    font-size: 16pt;
    padding-left: 10px;
}


.box-title-produto h4{
    font-size: 10pt;
    font-weight: bold;
}

.box-title-produto p{
    font-size: 7pt;
}

.col-md-4 h4{
    font-size: 10pt;
    font-weight: bold;
}

.col-md-4 h5{
    font-size: 10pt;
}

.box-contato h2{
    font-size: 17pt;
    font-weight: bolder;
}
/* HEADER */

.navbar{
    height: 150px;
 }

 .container-fluid{
    background-color: #3e4430;

 }

 .navbar-brand{

 }

 .collapse{

 }

.navbar-nav{
    margin: 0;
    width: 600px;
    margin-top: 55px;
}

/* SECTION */
.row{
    /* border-radius: 8px; */
    /* box-shadow: 1px 1px 2px; */
    margin-left: 2px;
    width: 1100px;
    margin-top: 20px;
}

.row-form{
    /* border: 2px solid red; */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 450px;
    margin-top: 4px;   
}

.row-2{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 100px;
    padding: 10px;
}
.col-md-3{
    border: 2px rgb(240, 240, 245) solid;
    border-radius: 8px;
    box-shadow: 3px 3px 5px;
    width: 240px;
    height: 430px;
    margin-left: 15px;
    margin-right: 17px;
}

.col-md-banner{
    /* border: 2px rgb(17, 0, 255) solid; */
    width: 500px;
    height: 430px;
    /* margin-left: 14px; */
}

.col-md-4-form{
    border: 2px rgb(240, 240, 245) solid;
    border-radius: 8px;
    box-shadow: 3px 3px 5px;
    width: 400px;
    height: 450px;
    margin: 0;
    padding: 10px;
}

.col-md-4-mapa{
    border: 2px rgb(240, 240, 245) solid;
    border-radius: 8px;
    box-shadow: 3px 3px 5px;
    width:650px;
    height: 450px;
    margin: 0;
    padding: 10px;
    margin-left: 20px;
}

.box-title-produto{
    border: 2px rgb(240, 240, 245) solid;
    border-radius: 8px;
    width: 240px;
    height: 60px;
    margin-left: -14px;
    margin-top: 28px;
    padding: 5px;
}

.box-contato{
    border: 2px rgb(240, 240, 245) solid;
    border-radius: 8px;
    width: 400px;
    height: 60px;
    margin-left: -1px;
    margin-top: 28px;
    padding: 10px;
}

#main{
    width: 1100px;
    height: 1200px;
    margin: auto;
    margin-top: 5px;
 }

a.nav-link-gmodas{
    text-decoration: none;
    color: #fff;
}

a.nav-link-gmodas:hover{
    background-color:#c86d37;
    margin: auto;
}

 .box-button{
     width: 200px;
     height: 50px;
     border: 2px red solid;
     margin-top: -250px;
     margin-right: 70px;
 }

 .button-banner{
    width: 200px;
    height: 50px;
    margin-left: -14px;
    margin-top: -2px;
 }

 #main-footer{
    background-color: #c5c8be;
    width: 1069px;
    margin-top: -30px;
    padding-left: 10px;
 }

 .texto{
     width: 350px;
 }
 label{
     margin-top: 10px;
     font-size: 11pt;
     font-weight: bold;
 }

 #area-texto{
     width: 350px;
     height: 150px;
 }

 .submit{
    width: 150px;
    height: 50px;
    background-color:#3e4430;
    color: #fff;
    font-size: 15pt;
    font-weight: bold;
 }

 iframe{
    margin-top:-10px;
    margin-left: -11px;
    width:650px;
    height: 450px;
    border-radius: 8px;
 }