/* ESTILOS. GLOBAIS */
*{
    margin: 0 auto;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    
}

html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.h1-title{
    color: #fff;
    font-weight: 300;
}

.header-container{
    /* border: 2px solid rgb(0, 38, 255); */
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #06AA48;
    text-transform: capitalize;
   
}
    .box-title{
        padding: 10px;

    }

    .box-title h2{
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .box-title h3{
        font-size: 1.7rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #fff ;
    }

main.container{
    border: 2px solid rgb(128, 121, 121);
    width: 50%;
    /* height: 70vh; */
    padding: 14px;
    position: relative;
    max-width: 930px;

}

.container header{
    /* border: 2px solid red; */
    width: 100%;
}

.row{
    padding: 8px;
    border-bottom: 1px solid #CCC;

}

.col-md-1{
    border-left: 4px solid #1e44ee;
    width: 5%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 800;
    padding-left: 20px;
}

section.container{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 40px;
}

article{
    border: 2px solid #434443;
    width: 30%;
    height: 35vh;
    padding: 20px;
    justify-content: center;
    box-shadow: 4px 4px 4px #434443;

}

article .box-title{
    background-color: #434443;
    /* border: 2px solid #777a77; */
    padding: 10px;
    /* text-align: center; */
    text-transform: capitalize;
}

button.btn{
    width: 50%;
    height: 10vh;
    border: 2px solid red;
    margin-left: 25%;
    margin-top: 10%;

    font-size: 1.7rem;
    font-weight: bold;

}

#resp1{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 40%;
}