body{
    /* background-image: linear-gradient(rgba(224, 224, 220, 90%), rgb(255, 255, 255), rgb(83, 124, 212, 30%)); */
    /* background-repeat: no-repeat; */
    /* width: 100%; */
}

/* GLOBAL */

body{
    margin: 0;
}

.conteiner_fundo{
    background-image: linear-gradient(rgba(224, 224, 220, 90%), rgb(255, 255, 255), rgb(83, 124, 212, 30%));
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.box_principal{
    width: 800px;
    height: 1000px;
    margin: auto;
    font-family: Helvetica, sans-serif;
}


.box_titulo{
    width: 774px;
    height: 120px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #054780e3;
    color: #ffff;
    padding: 11px 0px 0px 25px;
}


h2{
    font-size: 15pt;
}

.h3_sub_titulo{
    font-size: 14pt;
}

h4{
    margin-top: -2px;
    font-size: 14px;
}

        .h2_title_xp{
            margin-top: -20px;
        }

        .h2_title_formacao{
            margin-top: -40px;
        }

        .h2_title_cursos{
            margin-top: -30px;
        }

        .h2_title_certificados{
            margin-top: -40px;
        }


        .h4_formacao1{
            margin-top: 10px;
        }
            .p_formacao1{
                margin-top: -15px;
            }
        .h4_formacao2{
            margin-top: 15px;
        }
            .p_formacao2{
                margin-top: -15px;
            }
        .h4_formacao3{
            margin-top: 15px;
        }
            .p_formacao3{
                margin-top: -15px;
            }

p{
    font-size: 11pt;
    margin-top: -10px;
}

ul{
    font-size: 10pt;
}

a{
    text-decoration: none;
    font-size: 14px;
    margin-top: -20px;
    color: black;
}

hr{
    margin-top: -12px;
    color: lightgray;
}

.table1{
    width: 530px;
    height: 880px;
    background-color: #ffff;

}


.resumo{
    height: 70px;
    padding: 2px 0px 0px 20px;
    font-size: 10pt;
}

.experiencia{
    height: 100px;
    padding: 0px 0px 0px 20px;
}


.formacao{
    height: 110px;
    padding: 0px 0px 0px 20px;
}

.cursos{
    height: 100px;
    padding: 0px 0px 0px 20px;
    margin-top: -40px;
}

.certificados{
    height: 100px;
    padding: 0px 0px 0px 20px;

}


.box_table2{
    width: 270px;
    height: 880px;
    margin: auto;
    margin-left: 530px;
    margin-top: -880px;
    background-color: #beb7b7bb;
}

.table2{
    width: 270px;
}

.informacoes{
    height: 70px;
    padding: 0px 0px 0px 10px;
    margin-top: 20px;
}

.skills{
    height: 50px;
    padding: 0px 0px 0px 10px;

}

.idiomas{
    height: 30px;
    padding: 0px 0px 0px 10px;

}

.ul_hab{
    margin-left: -20px;
}

.ul_skills{
    margin-left: -20px; 
}

.ul_idiomas{
    margin-left: -20px; 
}
