
/* Global */
/* Fonte:  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{   
    margin: 0 auto;
}

body{
    background-color: #F6F6F1;
}
.img-logo{
    width: 150px;
    height: 150px;
    margin-left: -203px;
}

.box-img-footer .img-logo{
    margin-left: -7px;
    margin-top: 10px;
}
.img-icon1{
    position: relative;

}

.banner-cardapio img{
    width: 100%;
    height: 500px;
}

#main{
    width: 1400px;
    /* border: 2px solid red; */
    position: relative;
}

/* HEADER */
/* PRENAV */
.navbar-brand-icon1{
    /* border: 2px solid red; */
    width: 30px;
    position: absolute;
    margin-left: 1165px;
    
}

.navbar-brand-icon2{
    /* border: 2px solid red; */
    width: 30px;
    position: absolute;
    margin-left: 1254px;

}

.navbar-brand-icon3{
    /* border: 2px solid red; */
    width: 30px;
    position: absolute;
    margin-left: 1344px;
}

/* NAVBAR PRINCIPAL */

#main-header{
    /* border: 2px solid rgb(0, 68, 255); */
    width: 100%;
    height: 150px;
    position: relative;
    
}

.navbar{
    /* border: 2px solid rgb(72, 255, 0); */
    /* background-color: #dacb8d   ; */
    height: 118px;
    /* background-color:#dacb8d; */
    /* margin-top: 1px; */
    
}

a.nav-link{
    color: #5c493b;
    font-size: 13pt;
    font-weight: bold;
}

a.nav-link.active{
    color: #fa6f19;
    font-size: 13pt;
    font-weight: bold;
}
a.nav-link:hover{
    color: #fa6f19 ;
    font-size: 13pt;
    font-weight: bold;
}

li.nav-item-left{
    margin-left: 0px;
}

.navbar-brand-logo{
    width: 150px;
    margin-left: 281px;
    margin-top: 5px;
}

.nav-item-left{
    /* border: 2px solid red; */
    margin-left: 20px;
}

.nav-item-right{
    /* border: 2px solid red; */
    margin-left: 20px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    /* margin-right: rem; */
    font-size: 1.25rem;
    line-height: inherit;
    /* white-space: nowrap; */
    margin: 0;
    padding: 0;
    margin-left: -40px;

}
.navbar-prenav {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 45px;
    flex-direction: column;
    background-color:#295135;
    padding: 10px;
}

.box-nav{
        width: 2000px;
        /* padding-right: 15px; */
        /* padding-left: 15px; */
        margin-right: auto;
        margin-left: auto;
}
.container-fluid{
    /* border: 2px solid rgb(47, 0, 255); */
    height: 100px;
    position: relative;
}

.navbar-nav-left{
    /* border: 2px solid rgb(47, 0, 255); */
    margin-left: 10px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: row;
        display: inline-block;

    }
.box-ul-navbar-nav-left{
    width: 400px;
    /* border: 2px solid rgb(47, 0, 255); */
    margin-left: 157px;
}

#navbarSupportedContent{
    /* border: 2px solid rgb(47, 0, 255); */
    width: 100px;
    margin-left: -200px;

}

    .navbar-nav{
        /* border: 2px solid rgb(0, 255, 42); */
        margin: 0;

    }

.navbar-nav-right{
    /* border: 2px solid rgb(47, 0, 255); */
    margin-left: 50px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: row
    }

    .navbar-nav-sup{
        /* border: 2px solid rgb(47, 0, 255); */
        margin-left: 50px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            flex-direction: row
        }
    
    .nav-link-box1{
        margin-left: 800px;
        width: 60px;
    }

    /* SECTION */
    video{
     background-color: #295135;
    }

  
    #main-banner{
        margin-top: 10px;
    }

    #section-articles{
        /* border: 2px solid rgb(47, 0, 255); */
        position: relative;
        padding-left: 10px;
        margin-top: 60px;
    }

    #section-articles-reserva{
        /* border: 2px solid rgb(47, 0, 255); */
        position: relative;
        /* padding-left: 10px; */
        margin-top: 20px;
        height: 500px;
        /* background-image: url("../img/banners/banner-reserva.png"); */
        /* background-repeat: no-repeat; */
        background-size: cover;
    }

    .banner-reserva{
        /* border: 2px solid rgb(255, 0, 149); */
        position: relative;
        width: 100%;
        height: 500px;
        background-image: url("../img/banners/banner-reserva.png");
        background-repeat: no-repeat;
        background-size: cover;

    }

    #section-articles-comochegar{
        /* border: 2px solid rgb(47, 0, 255); */
        position: relative; 
        /* padding-left: 10px; */
        margin-top: 20px;
        height: 500px;
        background-image: url("../img/banners/banner-comochegar.png");
        /* background-repeat: no-repeat; */
        background-size: cover;
    }


    .box-title h2{
        font-size: 30pt;
    }

    .box-title{
        position: absolute;
        color: rgb(17, 17, 17);
        margin-top: 24px;
        margin-left: 63px;
        /* display: grid; */
        letter-spacing: 1px;   
        /* background-color: 255,255,255,0.1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); */
    }

    .col-md-3-nordeste .box-title{
        position: absolute;
        margin-top: 24px;
        margin-left: 25px;
    }

    .col-md-3-sudeste .box-title{
        position: absolute;
        margin-top: 22px;
        margin-left: 39px;
    }

    .col-md-3-centroeste .box-title{
        position: absolute;
        margin-top: 21px;
        margin-left: 4px;
    }

    .col-md-3-sul .box-title{
        position: absolute;
        margin-top: 23px;
        margin-left: 95px;
    }



    .box-paragrafo{
        position: absolute;
        color: white;
        margin-top: 177px;
        font-weight: 700;
        font-size: 17pt;
        margin-top: -6px;
        padding-left: 202px;
    }

    .box-paragrafo-centroeste{
        position: absolute;
        color: white;
        margin-top: 177px;
        font-weight: 700;
        font-size: 17pt;
        margin-top: 5px;
        padding-left: 218px;
    }

    .box-paragrafo-norte{
        position: absolute;
        color: white;
        margin-top: 177px;
        font-weight: 700;
        font-size: 17pt;
        margin-top: 5px;
        padding-left: 218px;
    }

    
    .box-paragrafo-nordeste{
        position: absolute;
        color: white;
        margin-top: 177px;
        font-weight: 700;
        font-size: 17pt;
        margin-top: 5px;
        padding-left: 376px;
    }

    .box-paragrafo-sudeste{
        position: absolute;
        color: white;
        margin-top: 177px;
        font-weight: 700;
        font-size: 17pt;
        margin-top: 5px;
        padding-left: 155px;
    }

    .box-paragrafo-sul{
        position: absolute;
        color: white;
        margin-top: 177px;
        font-weight: 700;
        font-size: 17pt;
        margin-top: 5px;
        padding-left: 391px;
    }



    .box-paragrafo h2{
        font-size: 19pt;
        font-weight: bold;
        color: #fa6f19;
        margin-top: 5px;
    }

    .p-descricao{
        margin-top: -13px;
    }

    .h1-banner1{
        font-size: 35pt;
        margin-left: 277px;
        font-size: 35pt;
        color: white;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 481px;
        position: absolute;
        /* margin-bottom: auto; */
        top: -468px;
        text-align: center;
    }

    
    .h2-delivery{
        font-size: 35pt;
        margin-left: 803px;
        font-size: 29pt;
        color: #295135;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 481px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 33px;
        text-align: center;
    }
    .h2-historia{
                /* margin-bottom: 116px; */
        margin-left: 474px;
        font-size: 22pt;
        font-weight: bold;
        color: #0d0e0e;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 481px;
        position: relative;
        /* margin-bottom: auto; */
        top: 241px;
        text-align: center;
    
    }
    .h2-cardapio{
        font-size: 35pt;
        margin-left: 316px;
        font-size: 29pt;
        font-weight: bold;
        color: #111;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 800px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 411px;
        text-align: center;
    }

    .h2-reserva{
        font-size: 30pt;
        margin-left: 617px;
        font-size: 29pt;
        font-weight: bold;
        color: #111;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 800px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 34px;
        text-align: center;
    }

    .h2-regiao{
        color: #fa6f19;
    }
    .p-delivery{
        /* margin-bottom: 116px; */
        margin-left: 816px;
        font-size: 18pt;
        color: #111;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 481px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 90px;
        font-weight: bold;
        }

    .h2-faq{
        font-size: 35pt;
        margin-left: 44px;
        font-size: 29pt;
        color: #111;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 481px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 251px;
        text-align: center;
        font-weight: bold;
    }

    .h2-comochegar{
        font-size: 35pt;
        margin-left: 54px;
        font-size: 29pt;
        color: #111;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 481px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 30px;
        text-align: center;
        font-weight: bold;
    }


    .p-faq{
        /* margin-bottom: 116px; */
        margin-left: 697px;
        font-size: 18pt;
        color: #fff;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 531px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 387px;
        font-weight: bold;
        text-align: center;
        }

    .h2-quemsomos{
        font-size: 35pt;
        margin-left: 189px;
        font-size: 22pt;
        color: #295135;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 481px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 231px;
        text-align: center;
    }

    .p-quemsomos{
        /* margin-bottom: 116px; */
        margin-left: 89px;
        font-size: 18pt;
        color: #111;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 681px;
        position: absolute;
        /* margin-bottom: auto; */
        top: 320px;
        text-align: center;
        }
        .h3-quemsomos {
            color: #295135;
            top: 615px;
            position: absolute;
            margin-left: 346px;
        }
    .p-banner1{
        /* margin-bottom: 116px; */
        margin-left: 275px;
        font-size: 35pt;
        color: white;
        /* border: 2px solid rgb(47, 0, 255); */
        width: 481px;
        position: absolute;
        top: -275px;
        }
        
    .p-banner2{
    /* margin-bottom: 116px; */
    margin-left: 658px;
    font-size: 35pt;
    color: white;
    /* border: 2px solid #fa6f19; */
    width: 481px;
    position: relative;
    /* margin-bottom: auto; */
    top: -179px;
    }
    
    .p-banner3{
        /* margin-bottom: 116px; */
        margin-left: -163px;
        font-size: 35pt;
        color: white;
        /* border: 2px solid #295135; */
        width: 481px;
        position: relative;
        /* margin-bottom: auto; */
        top: -151px;
    }

    /* .p-historia{
        margin-bottom: 116px;
        margin-left: 483px;
        font-size: 22pt;
        font-weight: bold;
        color: #0d0e0e;
        border: 2px solid rgb(47, 0, 255);
        width: 481px;
        position: relative;
        margin-bottom: auto;
        top: -373px;
        text-align: center;
    } 

    */
        #section-historia{
            /* border: 2px solid rgb(47, 0, 255); */
            margin-top: 10px;
            position: relative;
        }

    #section-depoimentos{
        border: 2px solid rgb(47, 0, 255);
    }

    #section-perguntas{
        border: 2px solid rgb(47, 0, 255);

    }
    
    #section-delivery{
        /* border: 2px solid rgb(47, 0, 255); */
        position: relative;
        width: 100%;
        height: 600px;
        background-image: url(../img/banners/banner-delivey.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10px;
    }

    #section-reserva{
        /* border: 2px solid rgb(47, 0, 255); */
        margin-top: 20px;
    }


    .banner-carousell{
        height: 600px;
        width: 100%;
        margin-top: 10px;
    }

    .carousel-item{
        /* border: 2px solid rgb(47, 0, 255); */
        height: 600px;

    }

.row-cardapio{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
    margin-left: -9px;
    height: 600px;
    background-color: #295135;
    }

.row-historia{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
    margin-left: -9px;
    height: 600px;
    
    }

.row-delivery{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
    margin-left: -9px;
    height: 600px;
    }

    .row-regiao{
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        width: 1400px;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
        margin-left: 25px;
        height: 300px;
        }
    
    .col-md-3-regiao article{
        background-color: #fa6f19;
    }

    .col-md-3{
        border: 2px solid rgb(47, 0, 255);
        width: 450px;
        height: 400px;
        margin: 0;
    }

    .alink-card{
        /* border: 2px solid rgb(47, 0, 255); */
        width: 273px;
        height: 400px;
        margin-left:2px;
        padding: 0;
        position: relative;
        margin-top: 90px;  
    }

    .col-md-3-regiao{
        /* border: 2px solid rgb(47, 0, 255); */
        width: 350px;
        height: 250px;
        margin-left: 20px;
        border-radius: 8px;
    }


    .col-md-3-norte{
        border: 5px solid #fff ;
        width: 270px;
        height: 400px;
        margin: 0;
        background-image: url("../img/banners/norte/norte.png");
        position: relative;
        margin-right: 10px;
        border-radius: 8px;
        box-shadow: 4px 6px 11px #fa6f19;
        margin-top: -2px;
        margin-left: 0px;
        position: absolute;
        
    }


    .col-md-3-nordeste{
        border: 5px solid #fa6f19;
        width: 270px;
        height: 400px;
        margin: 0;
        background-image: url("../img/banners/nordeste/nordeste.png");
        position: relative;
        margin-right: 10px;
        border-radius: 8px;
        box-shadow: 4px 6px 11px #fa6f19;
        margin-top: -2px;
        position: absolute;

    }
    .col-md-3-sudeste{
        border: 5px solid #fff ;
        width: 270px;
        height: 400px;
        margin: 0;
        background-image: url("../img/banners/sudeste/sudeste.png");
        position: relative;
        margin-right: 10px;
        border-radius: 8px;
        box-shadow: 4px 6px 11px #fa6f19;
        margin-top: -2px;
        position: absolute;

    }


    .col-md-3-centroeste{
        border: 5px solid #fa6f19;
        width: 270px;
        height: 400px;
        margin: 0;
        background-image: url("../img/banners/centroeste/centroeste.png");
        position: relative;
        margin-right: 10px;
        border-radius: 8px;
        box-shadow: 4px 6px 11px #fa6f19;
        margin-top: -2px;
        position: absolute;


    }
    .col-md-3-sul{
        border: 5px solid #fff;
        width: 270px;
        height: 400px;
        margin: 0;
        background-image: url("../img/banners/sul/sul.png");
        position: relative;
        border-radius: 8px;
        box-shadow: 4px 6px 11px #fa6f19;
        margin-top: -2px;
        position: absolute;

    }

    .img-regioes{
        width: 440px;
        height: 400px;
    }


    .col-md-2{
        width: 100%;
        height: 600px;
    }

    
    .col-md-2-reserva{
        width: 100%;
        height: 500px;
        /* height: 450px; */
        background-image: url("../img/banners/banner-reserva.png");
        background-repeat: no-repeat;
        background-size: cover;
        /* border: 2px solid rgb(47, 0, 255); */

    }

.row-title{
    border: 2px solid rgb(47, 0, 255);
    margin: 0;
    height: 80px;
}

.row-title-regioes{
    border: 2px solid rgb(47, 0, 255);
    margin: 0;
    height: 80px;
    background-image: url("../img/banners/banner-titulo-regioes.png");
}

.row{
    border: 2px solid rgb(47, 0, 255);
    
}
.row-dep{
    border: 2px solid rgb(47, 0, 255);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: calc(-1 * var(--bs-gutter-y)); */
    /* margin-right: calc(-.5 * var(--bs-gutter-x)); */
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
    margin: 0;
    padding-left: 220px;
}
.col-md-dep{
    border: 2px solid rgb(47, 0, 255);
    width: 300px;
    height: 250px;
    /* margin-left: 10px; */
    padding: 0;
    margin: 0;
}

/* FOOTER */

#main-footer{
    /* border: 2px solid rgb(0, 255, 76); */
    width: 100%;
    height: 200px;
}

ul{
    margin-left: 250px;
}
ul li{
    float: left;
    list-style:none;
}

li{
    margin-left:20px ;
}

.box-img-footer{
    /* border: 2px solid rgb(47, 0, 255); */
    height: 150px;
    width: 150px;
    margin-top: 20px;
}

/* CARDÁPIO */

#section-cardapio{
    width: 100%;
    /* height:; */
    /* border: 2px solid rgb(0, 68, 255); */
    margin-top: 10px;
}

.section-faq{
    width: 100%;
    height:600px;
    /* border: 2px solid rgb(0, 68, 255); */
    margin-top: 50px;
    background-color:#F6F6F1;
}

.banner-cardapio{
    width: 100%;
    height: 550px;
    background-image: url(../img/banners/banner-cardapio.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    .banner-norte{
        width: 100%;
        height: 550px;
        background-image: url(../img/banners/norte/banner-norte.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-nordeste{
        width: 100%;
        height: 550px;
        background-image: url(../img/banners/nordeste/banner-nordeste.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-sudeste{
        width: 100%;
        height: 550px;
        background-image: url(../img/banners/sudeste/banner-sudeste.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-centroeste{
        width: 100%;
        height: 550px;
        background-image: url(../img/banners/centroeste/banner-centroeste.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-sul{
        width: 100%;
        height: 550px;
        background-image: url(../img/banners/sul/banner-sul.png);
        background-repeat: no-repeat;
        background-size: cover;
    }




.banner-faq{
    width: 100%;
    height: 550px;
    background-image: url(../img/banners/banner-faq.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion-item{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    width: 900px;
    /* background-color: #295135; */
}


#accordionFlushExample{
    border: 6px solid #fa6f19;
    width: 920px;
    margin-left: 270px;
    box-shadow: 4px 6px 11px;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 8px;
    height: 80px;
    font-size: 15pt;
}


.banner-quemsomos{
    width: 100%;
    height: 550px;
    background-image: url(../img/banners/banner-quemsomos.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-historia{
    width: 100%;
    height: 600px;
    background-image: url("../img/banners/banner-historia.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 9px;
    position: absolute;
}


.img-banner-cardapio{
    width: 100%;
    height: 500px;
}

footer{
    /* border: 2px solid rgb(0, 68, 255); */
    width: 50%;
    height: 150px;
    background-color:#dacb8d;
    margin-top: 20px;

}

/* REGIÕES */
.title-reg{
    border: 2px solid rgb(0, 68, 255);
    height: 80px;
    margin: 0;
    padding: 0;
}

.card-body{
    width: 300px;
    height: 240px;
    margin: 0;
}

/* FORMULÁRIO - RESERVA */


.row-form {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 648px;
    margin-top: 120px;
    /* margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x)); */
    /* margin-left: -10px; */
    /* border: 2px solid rgb(255, 0, 119); */
    width: 731px;
    height: 380px;
    padding: 5px;
    position: absolute;
    /* border: 5px solid rgb(0, 68, 255); */

}

.form-control {
    display: block;
    width: 100%;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#inputnumberl4, #inputdatel4{
    width: 174px;
}

.inputState{
    width: 170px;
    height: 38px;
    border: #fff;
}


.row-footer{
    width: 100%;
    height: 40px;
    /* border: 5px solid rgb(0, 68, 255); */

}
.col-md-1-footer{
    width: 100%;
    height: 40px;
    /* border: 5px solid rgb(0, 68, 255); */
    text-align: center;
    color: #295135 ;
    font-weight: 600;
    font-size: 13pt;
}

.col-md-1-footer h5{
 font-size: 13pt;
}

.col-md-6{
    width: 300px;
}

.row-form .col-md-4{
    /* border: 5px solid rgb(0, 68, 255); */
    font-size: 13pt;
    font-weight: bold;
    width: 175px;
    height: 100px;
    /* margin: -9px; */
}


.row-form .col-md-6{
    /* border: 5px solid rgb(0, 68, 255); */
    font-size: 13pt;
    font-weight: bold;
    margin-right: 6px;
    width: 275px;
    margin-left: -1px;
    margin-top: 0px;
    display: inline-block;

}


.row-form .col-md-6-tel{
    /* border: 5px solid rgb(0, 68, 255); */
    font-size: 13pt;
    font-weight: bold;
    margin: 0px;
    width: 150px;

}


.row-form .col-md-6-submit{
    /* border: 5px solid rgb(0, 68, 255); */
    font-size: 13pt;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 232px;
    width: 270px;
    height: 50px;

}

.btn{
    background-color: #295135;
    width: 260px;
    height: 60px;
    font-size: 17pt;
    color: #fff;
    font-weight: bold;
    margin-top: 0px;
}


.btn:hover{
   /* background-color: white; */
   color: #fa6f19;
}

.form-label-row1{
    background-color: #fa6f19;
    padding: 5px;
    width: 174px;
    color: #fff;
}

.form-label-nome{
    background-color: #fa6f19;
    width: 275px;
    color: #fff;
    padding: 5px;
    /* margin-left: ; */
    
}

.form-label-email{
    background-color: #fa6f19;
    width: 275px;
    color: #fff;
    padding: 5px;
    margin-left:8px;
    
}

.form-label-tel{
    background-color: #fa6f19;
    width: 150px;
    color: #fff;
    padding: 5px;
    margin-left: 12px;
}

#inputTel4{
    margin-left:12px;
}

#inputEmail4{
    margin-left: 8px;
}

iframe{
    position: absolute;
    margin-left: 657px;
    width: 739px;
    height: 495px;
}

.p-css-selo1{
    position: absolute;
    margin-top: -21px;
    margin-left: 1263px;
}

.p-css-selo2{
    position: absolute;
    margin-top: -21px;
    margin-left: 1167px;
}

