@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*GLOBAL*/

body{
    font-family: 'Lato', sans-serif;
    background-image: url("../img/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
     
}

main{

    display: flex;
    justify-content: center;
    margin-top: 1%;
     
}

 

.main-default{
    justify-content: center;
   	align-items: inherit;
   	 
}
 

#navbar{
	background-color: #ff4200;
 	
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff;

}
/*ACESSO*/
.box-acesso{
	width: 40%;
	
    align-items: center;
    padding: 15px;
    text-align: center;
	
	background-color:#dbd9d980;
;
    border: radius;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 2px #555151;

}

/*HOME*/
.box-home{
	width: 60%;
	height:50%;
    align-items: center;
    padding: 15px;
    text-align: center;
	
	background-color: rgb(248 248 248 / 17%);
    border: radius;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 2px #555151;

}

/*PRODUTOS*/

.table-produtos{
 	width: 95%;
    align-items: center;
    box-shadow: 1px 1px 2px 1px #555151;
    padding: 10px;
    margin-top: 52px;
    background-color: rgb(248 248 248 / 17%);
    color: #fff;
    border-collapse: unset;
            
}

.box-produtos{
    border-radius: 3px;
    width: 90%;
    align-items: center;
    box-shadow: 1px 1px 2px 1px #dbd9d980;
    padding: 22px;
    margin-top: 52px;
    background-color: #dbd9d9a6;
    color:#fff;
            
}

	.box-acesso .btn:hover{
		background-color:#fff;
        color: #000;
        font-weight: 800;
	}
	
	.box-acesso img{
		margin-left:95%;
	}



.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 4.5%;
    font-size:25px;
}


/*CADASTRO*/

#table{
    margin-top: 2%;
    background-color: #eeeeee8c;
    border-radius: 7px;
    font-weight: bolder;
    padding: 10px;

}

#table .button-cadastro{
	width: 15%;
	padding: 10px;
	margin-left: 13px;
    margin-top: 17px;
    border: 2px solid #fdfdfdb0;
    border-radius: 7px;
    background-color: #1e9715de;
    color:#fff;
        
    font-weight: bold;
    
}
.form-control{
	    border: 2px solid rgb(255, 247, 247);
	
}

/*VENDA DE PRODUTO*/
#tableVendaProduto{
    margin-top: 2%;
    background-color: #aba9a96e;
    border-radius: 7px;
    font-weight: bolder;
    padding: 10px;
 
}

#tableVendaProduto th{
    border: 2px solid #6a6969;
    padding: 14px;
    width: 234px

}

#formProduto .row{
    margin-top: 20px;
}
 
#formProduto .btn-secondary{
    margin-left:-50%;
    background-color: #d16d10;
}
 
/*RESPONSE*/
.box-sucess{
	width: 40%;
	
    align-items: center;
    padding: 15px;
    text-align: center;
    font-size:25px;
    text-transform: uppercase;
	
	/* background-color: rgb(248 248 248 / 17%); */
    background-color: #79ff1878;
    color: #ffff;
    font-weight: bolder;
    border: radius;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 2px #555151;

}



.box-sucess .btn{
    border: 2px solid #f0f0f0;
    color: #2a2929;
}

.text-warning{
	font-size: 20pt;
}

/*FORM*/

.box-login{
	width:600px;
	display:flex;
	justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
	
	background-color: rgb(248 248 248 / 17%);
    border: radius;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 2px #555151;

}

.form-login{
	width: 100%;
}

    .form-login .form-group{
        margin-top:10px;
    }

    .form-login .btnLogin{
        margin-top:5px;
        
    }

    .form-login .btnLogin:hover{
        margin-top:5px;
        background-color: #ff4200;
    
    }

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}

.login-form-2{
    padding: 4%;
    background: #78797a;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border: 4px solid #fff;
  
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnLogin{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    text-align: center;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}


 #formProduto{
     margin-top: 15px;
 }
 
 .produtosVendidos{
    border: 2px dotted #ededed38;
    padding: 8px;
    text-transform: capitalize;
 }