/* HTML5 - MOTOCAR */

/* GLOBAL */
*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand .img-logo{
    width: 140px;
    height: 140px;
    box-shadow: 1px 5px 9px;
    color: black;
}


.h1-box{
    font-size: 30pt;
    font-weight: bold;
    color: white;
}

.navbar-nav h2{
    font-size: 15pt;
    font-weight: 800;
}

.navbar-nav h2:hover{
    color: #949498;
}


a.nav-link:hover{
    color:#949498;
}


/* HEADER */
#main-header{
    width: 100%;
    height: 10%;
    border: 2px solid red;
}

.container-fluid{
    border: 1px solid rgb(4, 0, 255);

}

.navbar-collapse{
    border: 1px solid rgb(255, 0, 140);
    margin-top: 60px;
    margin-left: -90%;

}
.collapse{
    /* border: 1px solid rgb(251, 255, 0); */
    /* align-content: center; */

}

.navbar-nav{
    border: 1px solid rgb(0, 255, 21);
}
.nav-link a{
    color: red;
}
.box{
    width: 90%;
    height: 40px;
    margin-top: -60px;
    border: 1px solid rgb(0, 255, 21);
    text-align: center;
}
/* SECTION */

#main-section{
    width:60%;
    height: 900px;
    border: 1px solid rgb(255, 0, 0);
    margin: auto;
}

.row{
    margin-top: 10px;
    
} 

.row-1{
    border: 1px solid rgb(0, 255, 64);
    margin-top: 30px;

} 

.col-md-12-section{
    border: 1px solid rgb(38, 0, 255);
    width: 95%;
    height: 90px;
}


label{
    font-size: 17pt;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
    border: 1px solid rgb(38, 0, 255);

}

.titulo-carro{
    text-align: center;
    padding-top: 10px;
    border: 1px solid rgb(38, 0, 255);

}
.col-md-12-section h3 {
    font-size: 14pt;
    font-weight: bold;
    float: left;
    margin-left: 15px;
}   

.col-md h3 {
    font-size: 14pt;
    font-weight: bold;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
} 

.select-inf{
    width: 120px;
    margin-left: 15px;
}

.cor{
    margin-left: 15px;
}
.cor-label{
    width: 70px;

}

.label-inf{
    width: 110px;
    margin-left: -50px;
}
.text-inf{
    width: 110px;
    margin-left: -50px;

}